@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOn {
    0% {
        transform: translateY(100px);
        opacity: 0.1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}