@use '/src/sass/base/variables.scss' as *;

.footer {
    
                input[type="checkbox"].just-validate-error-field {
                    border: none;
                    outline: none;
                }
    input[type="email"].just-validate-error-field {
        border-bottom: 1px solid $ui-error;
        &::placeholder {
            color: $ui-error;
        }
        
    }
    padding: 50px 0;
    background-color: $dark;
    &__header {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: $light;
    }
    &__form {
        margin-bottom: 40px;
    }
    &__text {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        color: $light;
    }
    &__btn {
        margin-top: 20px;
    }
    &__input {
        display: block;
        padding: 0 0 15px 0;
        margin-bottom: 20px;
        width: 293px;
        height: 32px;
        background: transparent;
        border: none;
        border-bottom: 1px solid $ui-active;
        box-shadow: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $ui-active;
        &::placeholder {
            font-style: normal;
            line-height: normal;
            font-weight: 400;
            font-size: 14px;
            color: $ui-active;
        }
    }
    &__check-block {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: $light;
        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 3px;
            }
    }
    &__checkbox {
        width: 15px;
        height: 15px;
        margin-right: 15px;
    }
    &__link {
        display: flex;
        flex-wrap: wrap;
        column-gap: 66px;
        row-gap: 40px;
        margin-bottom: 40px;
    }
    &__nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        list-style: none;
        padding: 0px;
    }
    &__nav-item {
        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            color: $light;
        }
    }
    &__social-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        a {
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
        }
        span::before {
            margin: 0;
        }
    }
    &__copyright {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: $light;
        font-style: normal;
        line-height: normal;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        &__newsletter {
            width: 100%;
        }
        &__link {
            margin: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__wrapper {
            margin-bottom: 50px;
        }
        &__form {
            margin: 0;
        }
        &__newsletter {
            width: auto;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        padding-top: 80px;
        &__wrapper {
            margin-bottom: 18px;
        }
    }
}