@use '/src/sass/base/variables.scss' as *;

.touch {
    padding-top: 60px;
    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
    }
    input[type="checkbox"].just-validate-error-field {
            border: none;
            outline: none;
        }
    &__wrapper {
            margin-top: 60px;
    }


    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 15px;
        color: $dark;
        border-radius: 2px;
        border: 1px solid #E2E1E5;
        background: #FFF;
        &:focus {
            border: none;
            outline: 1px solid $dark;
        }
        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }
    &__textarea {
        width: 100%;
        height: 132px;
        padding: 10px 15px;
        color: $dark;
        border-radius: 2px;
        border: 1px solid #E2E1E5;
        background: #FFF;
        resize: none;
        &:focus {
            border: none;
            outline: 1px solid $dark;
        }
        
        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 3px;
        }
    }

    &__checkbox {
        vertical-align: middle;
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        margin-top: 20px;
    }

    &__decor {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        padding-top: 100px;
        &__wrapper {
            margin-top: 45px;
        }
        &__form {
            padding-left: 24px;
            width: 324px;
        }
        &__decor {
            display: block;
            width: 85px;
            height: 85px;
            position: absolute;
            right: 0;
            bottom: 0;
        }

    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
                margin-top: 80px;
            }
        &__form {
            padding-left: 20px;
            width: 320px;
        }
        &__img {
            display: block;
            width: 550px;
            height: 341px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
        }
}
&__decor {
    animation: slideOn 3s;
}
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        &__img {
            width: 100%;
            height: 356px;
        }

        &__fieldset {
            display: flex;
            column-gap: 45px;
        }
        &__label,
        &__input,
        &__textarea,
        &__check-block {
            width: 300px;
        }

        &__form {
            width: auto;
            padding-left: 147px;
        }
        &__decor {
            right: 75px;
        }
    }
}